.actor-continer{
    display: flex;
    flex-direction: column;

}

.actor-continer{
    display: flex;
    flex-direction: column;
    
}

.movies-continer{
    display: flex;
    flex-direction: column;
    
}